.display-1{
    font-family: Ibarra Real Nova;
}
#spence{
    font-family: Ibarra Real Nova;
}
#yelp{
    font-family: Ibarra Real Nova;
}
#ques{
    font-family: Ibarra Real Nova;
}
@media screen and (max-width: 2000px) and (min-width: 1200px) {
    #ham1{
        display: none;
    }
}

@media screen and (max-width: 1200px) and (min-width: 200px)  {
    #bt{
        display: none;
    }
    
}
